# Dependências
node_modules/

# Build
dist/

# Variáveis de ambiente
.env
.env.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Coverage de testes
coverage/